* {
  border: 0.25px solid red;
}

.content {
  display: flex;
  background: rgb(33, 33, 33);
  width: 100%;
}

.nav {
  background: rgb(58, 58, 58);
}

.sidebar {
  background: rgb(42, 42, 43);
  color: rgb(210, 210, 210);
  flex: 0 1 8rem;
}

.file a {
  color: rgb(210, 210, 210);
  text-decoration: none;
}

main {
  background: white;
  width: 100%;
}
