* {
  /* border: 0.25px solid red; */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* background: rgb(141, 81, 252); */
  background: rgb(53, 6, 135);
  background: radial-gradient(
    circle,
    rgba(53, 6, 135, 1) 0%,
    rgba(115, 22, 199, 1) 62%,
    rgba(27, 139, 208, 1) 100%
  );
  user-select: none;
  padding: 2rem 0.5rem;
}

#root {
  height: 100%;
  max-height: 2000px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

blockquote {
  border-left: 0.2rem solid #dfe2e5;
  margin-left: 1rem;
  padding: 0 1rem;
  color: #6a737d;
}

@media (max-width: 768px) {
  .readme-title {
    flex-direction: column;
  }
}

@media (max-width: 640px) {
  body {
    /* Mobile browers are going to have their bottom nav hide the bottom of the screen. Plus, since we aren't scrolling the <body> at all, it's never going to go away. So we have to bump the content up to make it peek out from the browser's nav */
    padding-bottom: 9rem;
  }
}
